@import url('https://fonts.googleapis.com/css?family=Poiret+One')
html
  overflow-x: hidden

body
  background-image: url('../images/background.jpg')
  background-size: cover
  background-attachment: fixed
  background-repeat: no-repeat
  font-family: 'Poiret One'
  margin: 0
  width: 100vw

nav
  position: sticky
  top: 0
::-webkit-scrollbar
  display: none